<!DOCTYPE html>

{% extends 'game/base.html' %}
{% load static %}
<html>



    <head>
        <title>Go! Scavenge: Play</title>
    </head>
    
    {% block body_block %}
    <div class="hero-unit">
        <img src=  "{% static 'img/logo.png' %}" alt="some_text" > <br />

            <div id="gameSpace">

                <img src=  "{% static 'img/house.png' %}"  alt="some_text" height="82" width="82">  <button type="button" class="btn btn-primary" onclick="alert('Good Luck!')" id="House1" >Scavenge House 1</button> <br /> <br />

                <img src=  "{% static 'img/house.png' %}"  alt="some_text" height="82" width="82"> <button type="button" class="btn btn-primary"  onclick="alert('Good Luck!')" id="House2" >Scavenge House 2</button> <br /> <br />

                <img src=  "{% static 'img/house.png' %}"   alt="some_text" height="82" width="82">  <button type="button" class="btn btn-primary"  onclick="alert('Good Luck!')" id="House3" >Scavenge House 3</button> <br /> <br />

                <img src=  "{% static 'img/house.png' %}"  alt="some_text" height="82" width="82">  <button type="button" class="btn btn-primary"  onclick="alert('Good Luck!')" id="House4" >Scavenge House 4</button> <br /> <br />

                <img src=  "{% static 'img/house.png' %}"  alt="some_text" height="82" width="82"> <button type="button" class="btn btn-primary"  onclick="alert('Good Luck!')" id="House5" >Scavenge House 5</button> <br /> <br />

                <div id="stats">
                    Current Food Supply: <br />
                    Current Ammuntion: <br />
                    Current number of survivors:
                </div>



    </div>
    {% endblock%}

</html>
