<!DOCTYPE html>

{% extends 'game/base.html' %}
{% load static %}
<html>



    <head>
        <title>Go! Scavenge: Play</title>
    </head>
    
    {% block body_block %}
    <div class="hero-unit">
        <img src=  "{% static 'img/logo.png' %}" alt="some_text" > <br />

            <div id="gameSpace">
				<form method="post">
					{% csrf_token %}
                <img src=  "{% static 'img/house.png' %}"  alt="some_text" height="82" width="82">  <button type="submit" class="btn btn-primary" name="House1" id="House1" >Scavenge House 1</button> <br /> <br />

                <img src=  "{% static 'img/house.png' %}"  alt="some_text" height="82" width="82"> <button type="submit" class="btn btn-primary"  name="House2" id="House2" >Scavenge House 2</button> <br /> <br />

                <img src=  "{% static 'img/house.png' %}"   alt="some_text" height="82" width="82">  <button type="submit" class="btn btn-primary"  name="House3" id="House3" >Scavenge House 3</button> <br /> <br />

                <img src=  "{% static 'img/house.png' %}"  alt="some_text" height="82" width="82">  <button type="submit" class="btn btn-primary"  name="House4" id="House4" >Scavenge House 4</button> <br /> <br />

                <img src=  "{% static 'img/house.png' %}"  alt="some_text" height="82" width="82"> <button type="submit" class="btn btn-primary"  name="House5" id="House5" >Scavenge House 5</button> <br /> <br />
				<input type="hidden" value= "{{ moves }}" name = "prevMoves" >
				<input type="hidden" value= "{{ food }}" name = "prevFood" >
				<input type="hidden" value= "{{ ammo }}" name = "prevAmmo" >
				<input type="hidden" value= "{{ survivors }}" name = "prevSurvivors" >
				<input type="hidden" value= "{{ curHouse }}" name="curHouse" >
				<input type="hidden" value= "{{ days }} " name="curDay" >
				<input type="hidden" value= "{{ maxSurvivors }} " name="maxSurvivors" >
				<input type="hidden" value= "{{ maxFood }} " name="maxFood" >
				</form>
                <div id="stats">
					Days Survived: {{ days }} <br />
                    Current Food Supply: {{ food }}<br />
                    Current Ammuntion: {{ ammo }} <br />
                    Current number of survivors: {{ survivors }} <br />
                    Moves Left: {{moves }} <br />
					Current House: {{ curHouse }} <br />
                    Max Food: {{ maxFood }}<br />
                    Max Survivors: {{ maxSurvivors }}<br />
                </div>



    </div>
    {% endblock%}

</html>
