<html>

{% extends 'game/base.html' %}
{% load static %}

    <head>
        <title>You Are Dead...</title>
    </head>
    
    {% block body_block %}
		<div class="hero-unit">
			<img src=  "{% static 'img/logo.png' %}" alt="some_text" > <br />
			<img src=  "{% static 'img/dead.svg' %}" alt="some_text" > <br />
			<h1>You are Dead.</h1>
			<h2> The zombies eat you and your team's flesh.</h2>
			<h3> Days Survived:{{ days }}&nbsp;    Ammunition Peak: ___   Highest Number Of Survivors:___ </h3>

			<a href="/game/gamescreen/">Try Again!</a> 

			
		</div>
    {% endblock%}

</html>
