<!DOCTYPE html>
{% extends 'game/base.html' %}
{% load static %}

<html>

    <head>
        <title>GO SCAVENGE</title>
    </head>
    
    {% block body_block %}
    <div class="hero-unit">
        <img src="{% static "zombie.png" %}" alt="Logo"/>
        <h1>Go Scavenge</h1>
        {% if user.is_authenticated %}
            How long can {{ user.username }} <strong>{{ boldmessage }}</strong><br />
        {% else %}
            How long can you <strong>{{ boldmessage }}</strong><br />
        {% endif %}
    </div>
    <!--/row-->
    {% endblock %}

</html>
