<!DOCTYPE html>
{% extends 'game/base.html' %}
{% load static %}

<html>

    <head>

    </head>
    
    {% block body_block %}
    <div class="hero-unit">
        <img src=  "http://r68.cooltext.com/rendered/cooltext1469430183.png" alt="some_text" > <br />
        <h1>Go Scavenge</h1>
	<table border="1" style="width:300px">
<tr>
  <th>User</th>
  <th>Points</th>
</tr>
  <td>{{ stats.user }}</td>
  <td>50</td>
</tr>
<tr>
  <td>Eve</td>
  <td>94</td>
</tr>
</table> 

        {% if user.is_authenticated %}
            How long can {{ user.username }} <strong>{{ boldmessage }}</strong><br />
        {% else %}
            How long can you <strong>{{ boldmessage }}</strong><br />
        {% endif %}
    </div>
    <!--/row-->
    {% endblock %}

</html>
