<!DOCTYPE html>
{% extends 'game/base.html' %}
{% load static %}

<html>

    <head>

    </head>
    
    
    {% block body_block %}
    <div class="hero-unit">
        <img src=  "{% static 'img/logo.png' %}" ><br />
        <h2> Leaderboard </h2>

        {% if stats %}

        <table border="3" style="width:300px">
        <font size="4">
          <th>User</th>
          <th>Most Food</th>
          <th>Maximum Survivors</th>
          <th>Longest Session</th>
        </tr>
        {% for stat in stats %}
        <tr>
          <td>{{ stat.user }}</td>
          <td>{{ stat.supplies }}</td>
          <td>{{ stat.max_survivors }}</td>
          <td>{{ stat.longest_session }}</td>
        </tr>
        {% endfor %}
        </font>
        </table><br />
        {% else %}
                    <strong>There are no people present.</strong><br>
        {% endif %}

        </div>

    <div id="game-info">
	<br />
 
    <a href="/game/gamescreen/" type="submit" class="btn btn-primary btn-lg">Play</a>

        {% if user.is_authenticated %}
            How long can {{ user.username }} <strong>{{ boldmessage }}</strong><br />
        {% else %}
            How long can you <strong>{{ boldmessage }}</strong><br />
        {% endif %}
     </div>

    <!--/row-->
    {% endblock %}



</html>

